header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.header-container {
    width: calc(100vw - 40%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 80px;
}

.header-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-links ul li {
    margin-left: 30px;
}

.header-links ul li a {
    text-decoration: none;
    color: #333;
}

.burger-menu {
    font-size: 25px;
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.main-container {
    width: calc(100vw - 40%);
    display: flex;
    justify-content: center;
}

.main-banner {
    width: 100%;
    height: 450px;
    background-image: url('/assets/images/1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
}

.banner-text {
    width: 70%;
    color: #FFFFFF;
    padding-top: 300px;
    padding-left: 20px;
    font-style: italic;
}

.banner-text p {
    padding: 5px;
    background-color: blue;
    width: fit-content;
    border-radius: 6px;
}

@media (max-width: 655px) {
    .header-links ul {
        display: none;
    }

    .burger-menu {
        display: inline;
    }

    .banner-text {
        width: 90%;
        font-size: small;
    }
}

@media (max-width: 1130px) {
    .header-container,
    .main-container {
        width: calc(100vw - 30%);
    }
}