@import url('../design-system.css');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-medium) 0;
}

.header-container {
    width: var(--full-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: var(--logo-size);
}

.header-links ul {
    display: flex;
}

.header-links ul li {
    margin-left: var(--spacing-large);
}

.header-links ul li a {
    text-decoration: none;
    color: var(--color-secondary);
}

.burger-menu {
    font-size: var(--icon-size);
    display: none;
}